## **OULAD Student Analytics Project**
This project transforms **10+ million clickstream events** from the Open University Learning Analytics Dataset into actionable insights using **Spark SQL**. Working with real data from **32,593 students across 22 courses**, I built a complete analytics pipeline that reveals the hidden patterns between **student engagement, demographics, and academic outcomes.**

### 1. Data Loading & Table Creation
**Objective:** Load the OULAD (Open University Learning Analytics Dataset) CSV files into Databricks as SQL tables within the `eduanalytics` workspace for analysis.

In [0]:
-- Created Database: Established eduanalytics workspace to organize all project tables and views
-- Uploaded CSV Files: Imported all 7 core OULAD datasets via Databricks file upload interface
SHOW tables IN workspace.eduanalytics

In [0]:
-- Spot check tables to ensure data were uploaded correctly
SELECT * 
FROM workspace.eduanalytics.student_info 
LIMIT 5;

In [0]:
SELECT * 
FROM workspace.eduanalytics.student_registration 
LIMIT 5;

In [0]:
SELECT * 
FROM workspace.eduanalytics.student_vle 
LIMIT 5;

In [0]:
SELECT * 
FROM workspace.eduanalytics.student_assessments 
LIMIT 5;